# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build dictionary
build/

# Nocompile dictionary
NoCompile/

# ImgBed
imageBed/

# 视频文件
*.mp4

# build mid file
.*.cmd

#test files
hello*
